{% extends './layout.html' %}
{% block title %}Account Page{% endblock %}
{% block body %}
<div class="wrapper">
  {% if 'user_id' in session %}
    <div class='header'>
      <h2>Welcome {{user['username']}}!</h2>
      <div class="header_right">
        <a href="{{url_for('dashboard')}}">Back</a>  |
        <a href="{{url_for('users:logout')}}">Logout</a>
      </div><br>
    </div>
  {% endif %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li class="error">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class='edit_form'>
    {% if current_user.id == user.id %}
      <h5>Edit login/username</h5>
      <form action="editing" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{user['username']}}" required><br>
        <input type="submit" value="Update">
      </form>
    {% endif %}
  </div>
  <div class="location_list">
    <h2>Location list</h2>
    {% for location in locations %}
      {% if location not in user.locations_this_user_likes %}
        <div class="location">
          <p>{{location.address}}</p>
          <a href="{{url_for('locations:like', location_id=location.id)}}" class='button'>Like</a>
          <a href="{{url_for('locations:remove_destination', location_id=location.id)}}" class="button">Remove</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="liked_location_list">
    <h2>Locations you have liked</h2>
      {% for location in user.locations_this_user_likes %}
          <div class="location">
              <a href="{{url_for('dashboard')}}">
              {{location['address']}}</a><br>
              <a href="{{url_for('locations:remove_like', location_id=location.id)}}" class='button'>Unlike</a>
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}