{% extends './layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class='wrapper'>
    {% if 'user_id' in session %}
        <div class='header'>
            <h2>Welcome {{user['username']}}!</h2>
            <div class="header_right">
                <p>
                    <a href="{{ url_for('users:account_page', user_id=user['id'])}}">My Account</a>  |
                    <a href="{{url_for('users:logout')}}">Logout</a>
                </p>
            </div><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li class="error">{{ message }}</li>
                        {% endfor %}
                     </ul>
                {% endif %}
            {% endwith %}
        </div>
        {% else %}
            <div class='header'>
                <h2>Welcome To Mapapp!</h2>
                <div class="header_right">
                    <a href="{{url_for('users:login_and_registration')}}">Login or make a new account</a>
                </div><br>  
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                                <li class="error">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}    
            </div>
    {% endif %}
    <div id="map"></div>
    
</div>
{% if destination %}
    <input id="hidden" type="hidden" name="hidden" value="{{destination}}">
{% endif %}
{% endblock %}